<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/base.css">
    <title>Contacto</title>
</head>

<body>
    <div class="container">
        <h1>Mis Datos de Contacto</h1>

        <div class="section">
            <p>Ciudad de Guatemala</p>
            <p>(502) 5979-4127</p>
            <p>roni0293@gmail.com</p>
        </div>

    </div>
</body>

</html>