<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/base.css">
    <title>Hobbies</title>
</head>

<body>
    <div class="container">
        <div class="header">
            <h1>Mis pasatiempos</h1>
        </div>
        <div class="section">
            <ol>
                <li>Ciencias de la Computación</li>
                <li>Tecnología</li>
                <li>Automóviles</li>
                <li>Fútbol</li>
                <li>Videojuegos</li>
                <li>Construcción de Computadoras</li>
                <li>Libros de Ciencia Ficción y Misterio</li>
            </ol>
        </div>
    </div>
</body>

</html>